body
{
    font-family:'Times New Roman', Times, serif;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c7d0e4;
    height: 100vh;
}

.font-size
{
    font-size: 50px;
}

.font-size-1
{
    font-size: 16px;
}

.a:hover {
    color: rgb(222, 122, 175);
    border-bottom: 2px solid rgb(222, 122, 175);
    text-decoration:underline;
  }

.text-white
{
    color: rgb(250, 230, 230);
}

.text-violet
{
    color: rgb(124, 33, 140);
}

.text_center
{
    text-align: center;
}


.border
{
    width: 100%;
    height: 45%;
    border: 2px solid rgb(215, 213, 213);
}

.btn
{
    text-decoration: none;
    background-color: rgba(233, 229, 229, 0.978);
    padding: 1px 1px;
    border-radius: 10px;
    border-color: rgb(215, 212, 212);
}

.btn-1
{
    text-decoration: none;
    background-color: rgb(145, 20, 162);
    padding: 1px 1px;
    border-radius: 5px;
    border-color: rgb(175, 26, 195);
}

.m-r
{
    margin-right: 20px;
}

.m-r-1
{
    margin-right: 40px;
}

.p-r
{
    padding-right: 15px;
}

.p-r-1
{
    padding-right: 45px;
}

.p-r-2
{
    padding-right: 35px;
}


.p-l-1
{
    padding-left: 45px;
}

.p-l-2
{
    padding-left: 35px;
}


.p-b
{
    padding-bottom: 40px;
}

.p-b-1
{
    padding-bottom: 20px;
}

.p-b-2
{
    padding-bottom: 30px;
}
